# Disabled rules
--disable unusedArguments
--disable braces
--disable specifiers
--disable trailingCommas
--disable redundantFileprivate

# Custom rules
--closingparen balanced
--nospaceoperators ..<, ...

# Excluded rules
--exclude weg-li/App/Resources/Generated

--header "Created for weg-li in {year}."
