name: CI

on:
  pull_request:
    branches: 
      - develop
      - main
  push:
    branches: 
      - develop

jobs:
  build-and-test:
    runs-on: macos-11

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Select Xcode Version
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest

    - name: Setup ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically

    - name: Run tests
      run: bundle exec fastlane test

    - name: Archive test artifacts
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: test-artifacts
        path: |
          ./fastlane/test_output/*.xcresult
